<ion-view view-title="My Account" id="my-account">
  <ion-content>

    <h6>Account Details</h6>
    <div class="card">
      <div class="item item-divider">
        I'm a Header in a Card!
      </div>
      <div class="row row-center">
        <div class="col">Available Equity: </div>
        <div class="col col-20">{{accountBalance | number:2}}</div>
      </div>
    </div>

    <h6>Trade History</h6>

    <div class="card">
      <div class="item item-divider">
        I'm a Header in a Card!
      </div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>
    </div>

  </ion-content>
</ion-view>
