<ion-view view-title="My Stocks" id="my-stocks">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="modalService.openModal(1)">
      <i class="icon icon-small ion-ios-search"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
  <!-- Use of Generic Ionic Refresh -->
    <ion-refresher
      pulling-text="Drag to refresh..."
      on-refresh="getFavouriteStocksData()"
      class="margin-auto"
    ></ion-refresher>

    <!-- Note that shrinkNumber is an externally sourced function -->
    <ion-list>
      <ion-item ng-repeat="instrument in favouriteStocksData | orderBy: '-chg_percent' track by instrument.symbol" ng-href="#/app/{{instrument.symbol}}">
        <div class="row row-center">
          <div class="col instrument-ticker-name">
            <h3>{{instrument.symbol}}</h3>
            <h6 ng-bind-html="::instrument.name"></h6>
          </div>
          <div class="col col-25 instrument-price-time">
            <h3>{{instrument.price | shrinkNumber:2}}</h3>
            <h6>{{instrument.utctime | date:'h:mm a'}}</h6>
          </div>
          <div class="col col-33 instrument-change" ng-class="instrument.change >= 0 ? 'background-green' : 'background-red'">
            <h3><span ng-if="instrument.change >= 0">+</span>{{instrument.chg_percent | number:3}}%</h3>
            <h6><span ng-if="instrument.change >= 0">+</span>{{instrument.change | shrinkNumber:2}}</h6>
          </div>
        </div>

        <!-- Swipe left to unfollow -->
        <ion-option-button class="button-light icon ion-minus-circled color-red inset-shadow" ng-click="unfollowStock(instrument.symbol)"></ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
