<ion-view view-title="Open Positions" id="open-positions">

  <ion-content>

    <ion-refresher
      pulling-text="Drag to refresh..."
      on-refresh="getOpenStockPositions()"
      class="margin-auto"
    ></ion-refresher>

    <ion-list>
      <ion-item ng-repeat="instrument in openPositionsData track by $index">
        <div class="row row-center">
          <div class="col instrument-ticker-name">
            <h3>{{instrument.symbol}}</h3>
            <h6 ng-bind-html="::instrument.name"></h6>
          </div>
          <div class="col col-25 instrument-price-time">
            <h3>{{instrument.price | shrinkNumber:2}}</h3>
            <h6>Current Price</h6>
          </div>
          <div class="col col-33 instrument-change" ng-class="instrument.result >= 0 ? 'background-green' : 'background-red'">
            <h3><span ng-if="instrument.result >= 0">+</span>{{ instrument.result | number:2}}</h3>
            <h6>Quantity: {{instrument.quantity}}</h6>
          </div>
        </div>

        <ion-option-button class="button-light icon ion-close-round color-red inset-shadow" ng-click="closePosition(instrument.symbol, instrument.price, instrument.quantity, instrument.result, instrument.name); showSellPopup(instrument.name, instrument.price, instrument.quantity)"></ion-option-button>
  </ion-content>
</ion-view>
