<ion-view view-title="Open Positions" id="open-positions">


  <ion-content>

    <ion-list>
      <ion-item>
        <div class="card">
          <div class="item item-button-right">
            Company Name
          <button class="button button-light">
            <i class="icon ion-ios-close-outline"></i>
          </button>
          </div>
          <div class="col col-25 stock-price-time">
            <h3>Result</h3>
            <h6>Quantity</h6>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row row-center">
          <div class="col stock-ticker-name">
            <h3>Company Name</h3>
            <h6 ng-bind-html="::stock.name"></h6>
          </div>
          <div class="col col-25 stock-price-time">
            <h3>Result</h3>
            <h6>Quantity</h6>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row row-center">
          <div class="col stock-ticker-name">
            <h3>Total Result</h3>
            <h6 ng-bind-html="::stock.name"></h6>
          </div>
          <div class="col col-25 stock-price-time">
            <h3>Result</h3>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
